.badge {
  position: fixed;
  right: 60px;
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 45px;
  background-color: var(--primary);
  color: var(--white);
  padding: 11px 13px 11px 65px;
  font-size: 28px;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.badge:hover {
  transform: scale(1.1);
}
