.mainMenu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: var(--primary);
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 1024px) {
    gap: 14px;
  }
}

.mainMenu a {
  font-weight: 600;
  color: var(--white);
  font-size: 36px;

  @media screen and (min-width: 1024px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
  }
}
