.heroHeader {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 32px;

  @media screen and (min-width: 768px) {
    padding: 32px 64px;
  }
}
.heroLogo {
  width: 100px;
  height: 60px;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 110px;
  }
}

.heroTitle {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landingHeader {
  font-size: 100px;
  line-height: 110px;
  font-weight: 600;

  @media screen and (max-width: 1440px) {
    font-size: 70px;
    line-height: 80px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 62px;
    line-height: 50px;
  }
  @media screen and (max-width: 768px) {
    font-size: 56px;
    line-height: 50px;
  }
  @media screen and (max-width: 425px) {
    font-size: 44px;
    line-height: 50px;
  }
}
.heroSubHeader {
  font-size: 13px;
  width: 100%;
  font-weight: 400;

  @media screen and (min-width: 425px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 80%;
    font-size: 18px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 20px;
    width: 60%;
  }
  @media screen and (min-width: 1440px) {
    width: 50%;
    font-size: 24px;
  }
}
