.footerHeader {
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;

  @media screen and (min-width: 425px) {
    font-size: 48px;
    line-height: 62px;
  }
  @media screen and (min-width: 768px) {
    font-size: 70px;
    line-height: 88px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 100px;
    line-height: 120px;
  }
}
